# Comments: use '#' for comment lines and ';' (following a space) for inline comments


[DEFAULT]

ignoreip = 127.0.0.1/8
bantime  = 3600
findtime  = 600
maxretry = 4
backend = auto
usedns = warn
enabled = false


#
# JAILS
#


[sshd]

# To use more aggressive sshd filter (inclusive sshd-ddos failregex):
#filter = sshd-aggressive
enabled = true
port    = {{ ssh.port | default('22') }}
logpath = /var/log/secure
backend = %(sshd_backend)s
